body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; 
    background-image: url('https://plus.unsplash.com/premium_photo-1682125235036-d1ab54136ff4?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29udGFjdG98ZW58MHx8MHx8fDA%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

header {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    border-radius: 50%;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px; 
}



#contacto {
    max-width: 800px; 
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #007bff; /* Color principal de EPSI */
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#contacto > p {
    text-align: center;
    margin-bottom: 25px;
    color: #555;
}


#contacto ul {
    list-style-type: none; 
    padding: 0;
    margin-bottom: 20px;
}

#contacto li {
    margin-bottom: 15px;
    
    padding-left: 30px; 
    position: relative;
}

#contacto li strong {
    color: #333;
    display: block; 
    margin-bottom: 3px;
}

#contacto li p {
    margin: 0; 
    color: #666;
}

#contacto li a {
    color: #007bff; 
    text-decoration: none;
}

#contacto li a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 5px;
    align-items: center;
    
}
.lista-social {
  list-style: none; 
  padding: 0; 
  display: flex; 
  gap: 9px; 
}

.enlace-social {
  display: flex; 
  align-items: center; 
  text-decoration: none; 
  color: inherit; 
}

.enlace-social img {
  margin-right: 1px; 
}
.ubicacion-epsi {
    margin-right: 50%;
}
.iconos {
    padding: 0; 
    list-style: none; 
  gap: 9px; 
}
